-
  now   = new Date()

  js   = {
    //- javascripts
    goBack      : "(function(w){var h=w.history;w.opener?w.close():h.length>1?h.back():w.location.href='/';})(window);",
    themeChange : "theme.change();",
    print       : "window.print();",
  };

  cssi = {
    //- CSS images
  };

  svgi = {
    //- SVG images
    bars:'M5,6H19V8H5V6M5,11H19V13H5V11M5,16H19V18H5V16Z',
    home:'M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z',
    caret:'M10,17L15,12L10,7V17Z',
    angle:'M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z',
    arrow:'M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z',
    cross:'M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z',
    download:'M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z',
    compare:'M19,3H14V5H19V18L14,12V21H19A2,2 0 0,0 21,19V5C21,3.89 20.1,3 19,3M10,18H5L10,12M10,3H5C3.89,3 3,3.89 3,5V19A2,2 0 0,0 5,21H10V23H12V1H10V3Z',
    ellipsis:'M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z',
    spin:'M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z',
  };

  fonts = [
    'family=Roboto:ital,wght@0,100..900;1,100..900',
    //- 'family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700',
    //- 'family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700',
    'family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700',
    'display=swap',
  ]

//- ==============================================================
//- functions
//- ==============================================================
-
  onclick = ( _script='' ) => 'event.preventDefault();' + _script;
  capitalize = s => s.replace(/\w\S*/g, w => w[0].toUpperCase() + w.slice(1).toLowerCase());
  removeLastDot = s => s.replace(/\.$/, '');
  removePathExt = (path,ext) => path.replace(new RegExp(`\\.${ext}$`), '');

//- ==============================================================
include _mixins
//- ==============================================================