extends _html
block append vars
  - path   = 'index.html'
  - title  = `Test`
  - description = `Testing stuff on this site.`
  - index = true
block footer
  //- no site footer
  +_edit_link
block content
  +if_dev
    +capture_code.
      // nothing at the moment
  +thin_hr
  nav._common_nav: .mv
    +a('404')| 404
    +bull
    +a('{{ site.baseurl }}/README.md')(target='_blank')| README
